/HeadlessMC/
/dev/headlessmc-launcher-2.10.0.jar
/dev/pakku.jar
/downloads/
/logs/
/mods/
/resourcepacks/
/saves/
/options.txt
/HeadlessMC/
/usernamecache.json
/usercache.json
/.mixin.out/
/config/zfastnoise.mixin.properties
